h1,h2,h3,h4,h5, p{
    margin: 20px auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
}

h3, h5{
    font-size: 18px;
    color: #3cbdb9;
}
h4{
    font-size: 24px;
    color: #3c49bd;

}
table{
    background-color: #3c49bd;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
}